* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(29, 29, 29);
    font-family: 'Montserrat', sans-serif;
}

i,
svg {
    pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 10%;
}

.kick-pad,
.snare-pad,
.hihat-pad {
    background: rgba(0, 0, 0, 0.459);
    box-shadow: 0 -10px 10px rgba(78, 78, 78, 0.05),
        inset 0 -3px 3px rgba(0, 0, 0, 0.3),
        0 10px 10px rgba(39, 39, 39, 0.3),
        inset 0 3px 3px rgba(0, 0, 0, 0.3);
}


/* ------------------------------ active class ------------------------------ */
.kick-pad.active {
    background: #fee140;
}

.snare-pad.active {
    background: #00c6fb;
}

.hihat-pad.active {
    background: #ff0844;
}

.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hihat-track,
.snare-track,
.kick-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: 5rem;
}

.kick,
.snare,
.hihat {
    display: flex;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0rem 2rem;
}

.controls button {
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(39, 39, 39);
    color: rgb(211, 211, 211);
    border: none;
    cursor: pointer;
    margin-top: 3rem;
}

select {
    width: 12rem;
    padding: 1rem;
    font-size: 1.2rem;
    margin-left: 1rem;
    background: rgb(41, 41, 41);
    border: none;
    color: rgb(199, 199, 199);
    font-weight: bold;
}

select option {
    border: none;
}

.mute.active {
    background-color: rgb(42, 42, 42);
    color: white;
}

.tempo {
    margin: 3rem;
    width: 30%;
}

.tempo-slider {
    padding: 0.2rem;
    -webkit-appearance: none;
    margin: 1rem 0rem;
    width: 100%;
    position: relative;
    background: rgb(88, 88, 88);
    box-shadow: 0 -5px 5px rgba(78, 78, 78, 0.05),
        inset 0 -3px 3px rgba(0, 0, 0, 0.3),
        0 5px 5px rgba(39, 39, 39, 0.3),
        inset 0 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    border-radius: 1rem;
}

.tempo p {
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem;
    color: rgb(146, 146, 146);
}


@keyframes playTrack {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
        border-radius: 20%;
    }

}